{% extends 'users/header.html' %}
{% block user_details %}
  <div class="col-sm-9">
    <div class="row">

        <div class="col-lg-6 col-md-8 col-sm-12">
            <ul class="list-group" id="teams-list">
              {% for team in user.favorite_teams %}
                <li class="list-group-item">
                  <a href="/teams/{{ team.id }}">
                    <img src="{{ team.logo }}" alt="" class="timeline-image">
                  </a>
                  <div class="message-area">
                    <a href="/teams/{{ team.id }}">{{ team.name }}</a>
                  </div>
                {% if g.user %}
                <form method="POST" action="/users/toggle-favorite-team/{{ team.id }}" class="team-fav" id="{{team.id}}">
                  <button class="
                    btn 
                    btn-sm 
                    {% if team in g.user.favorite_teams %}
                    {{'btn-danger'}}
                    {% else %}
                    {{'btn-secondary'}}
                    {% endif %}" id ="team-btn{{team.id}}">
                    <i class="fa fa-heart"></i> 
                  </button>
                </form>
                {% endif %}
                </li>
                {% endfor %}
            </ul>   
          </div>
        </div>
    </div>
  </div>
{% endblock %}